<html>
<head>
    <title>web app</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
</head>
<body>
    <div class="container">
        <nav class="navbar navbar-inverse navbar-static-top">
            <a class="navbar-brand" href="/">web app</a>
            <ul class="nav navbar-nav">
                <li><a  href="/">info</a></li>
                <li class="active"><a  href="test">test</a></li>
            </ul>
        </nav>
        <div class="jumbotron" style="padding:40px;">
            <h1>test page</h1>
        </div>
    </div>
</body>
</html>
